@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap');

@import url('./styles/var.css');
@import url('./styles/card.css');
@import url('./styles/switch.css');
@import url('./styles/lottieFile.css');
@import url('./styles/profile.css');

*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  background-color: var(--background);
  color: var(--text-primary);
  transition: all .5s ease-in-out;
}

/* CONTAINER MAIN */
.container-main{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 2rem;
  position: relative;
}
